{% extends 'base.html' %}
{% load static %}
{% block title %} About {% endblock title %}
{% block banner_slider %}
    <div id="carouselExampleSlidesOnly mt-1"  class="carousel slide" data-bs-ride="carousel" >
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src= "{% static 'images/banner/Innisfree-flagship-online-shop-banner-tofusecret.jpg' %}"  class="d-block w-100" width="50px" height="250px" alt="Banner">
        </div>
        <div class="carousel-item">
          <img src="{% static 'images/banner/langie.png' %}" class="d-block w-100"  width="50px" height="150px" alt="Banner">
        </div>
        <div class="carousel-item">
          <img src="{% static 'images/banner/COSRX-Banner.jpg' %}" class="d-block w-100" width="50px" height="150px" alt="Banner">
        </div>
      </div>
    </div>
{% endblock banner_slider  %}

{% block main-content %}
<div class="container mt-3">
    <br>
    <h2 class="text-center">About Us </h2>
    <br>
    <div class="row-container">
        <p class="row-container">
            <p class="fs-4 text-center">
                Welcome to [Your Brand Name], your trusted destination for the best in K-beauty skincare products. 
                We are passionate about bringing the wonders of Korean beauty to your skincare routine, blending 
                tradition with innovation to help you achieve healthy, glowing skin.
            </p>
        </p>
    </div> 
    
    <br></br>
    <h2 class="text-center">Mission</h2>
    <br>
    <div class="row-container">
        <p class="row-container">
            <p class="fs-4 text-center">
                At [Your Brand Name], our mission is to create high-quality, effective skincare products that cater to diverse skin needs.
                We strive to make advanced skincare accessible and enjoyable for everyone, ensuring that our products enhance both beauty and wellbeing.
            </p>
        </p>
    </div>        
</div>
<br></br>
{% endblock main-content %}